<%= render 'orgaos/styleForm' %>
<div class="form-usuario">
<h1 class="h3 mb-3 font-weight-normal">Novo Orgão</h1>
<%= render 'form', orgao: @orgao %>

<%= link_to 'Back', orgaos_path, class: 'btn btn-lg btn-danger btn-block' %>
</div>