<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ECOfício APP</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Meus Ofícios</a></li>
        <li>
          <% if current_user %>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Entrar', login_path, method: :get %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>