 <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">ECOfício APP</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Digite o número do Ófício" aria-label="Search">
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>

      <% if current_user %>
          <li class="nav-item">
            <%= link_to "Bem vindo #{current_user.nome}", user_path(current_user), method: :get, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="#">Meus Ofícios</a>
          </li>
          <li class="nav-item">
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Entrar', login_path, method: :get, class: "nav-link" %>
            </li>
          <% end %>

            </ul>
          </div>
        </nav>